/* makes sure to remove built in margins */
body,
html {
    margin: 0;
    padding: 0;
}

/* the container that houses all divs within website */
.webpageContainer {
    width: 1200px;
    height:1200px;
    background-color: #ccc;

}

    .headerContainer {
        width: 1160px;
        height:250px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 20px;

    }

        /* top stories that go into the header container */
        .topStory1 {
            width: 300px;
            height:230px;
            color: #c70639;
            border-top: 20px solid goldenrod;
        }
            .topStoryDetail1 {
                padding: 10px;
                text-align: right;
                font-weight: bold;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .aabArticle {
                width: 270px;
                height:135px;
                outline: 2px solid #c70639;

            }
         .topStory2 {
            width: 300px;
            height:230px;
            color: #c70639;               
            border-top: 20px solid goldenrod;

            }
                .topStoryDetail2 {
                    padding: 10px;
                    text-align: right;
                    font-weight: bold;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    border-left: 2px solid gray;
                }
                .dmvArticle {
                    width: 270px;
                    height:135px;
                    outline: 2px solid #c70639;
                    
    
                }
        .topStory3 {
            width: 300px;
            height:230px;

            color: #c70639;
            border-top: 20px solid goldenrod;
            }
                .topStoryDetail3 {
                    padding: 10px;
                    text-align: right;
                    font-weight: bold;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    border-left: 2px solid gray;
                }
                .ceoArticle {
                    width: 270px;
                    height:135px;
                    outline: 2px solid #c70639;
    
                }
            .topStory4 {
                width: 300px;
                height:230px;

                color: #c70639;
                border-top: 20px solid goldenrod;
            }
                .topStoryDetail4 {
                    padding: 10px;
                    text-align: right;
                    font-weight: bold;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    border-left: 2px solid gray;
                }
                .npcArticle {
                    width: 270px;
                    height:135px;        
                    outline: 2px solid #c70639;            
                }
    
    /* 2nd logo area */
    .header2Container {
        width: 1200px;
        height:80px;
        background-image: linear-gradient(to right, rgb(250, 250, 49), rgb(152, 152, 75));
        display: flex;

    }
        .logo {
            
        }
            .kotickooLogo {
                width: 600px;
                height:80px;
            }
        .search {
                width: 1200px;
                height:150px;

        }
            #searchBar {
                width: 300px;
                height: 30px;
                font-size: 15px;
                margin-top: 20px;
                margin-left: 100px;
            }
            #searchButton {
                width: 60px;
                height: 30px;
                background-color: #ff0066;
                color: white;
            }

    /* kotickoo team list and links section*/
    .sideBarContainer {
        width: 200px;
        height: 1200px;
        background-image: linear-gradient(to left, rgb(250, 250, 49), rgb(152, 152, 75));
        border-right: 2px solid orange;
        border-left: 8px solid black;
        padding: 5px;

    }
        .dateStamp{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        .kotickooTeamList {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;

        }
    
    /* main article selection */
    .articleSelectionContainer{

    }
        .mainArticle1 {

        }
        .mainArticle2 {

        }
        .mainArticle3 {

        }


